

body {
  /* background-image: url(/background.jpg); 
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
*/
 background: #ffff;
 font-family: candara;
    position: relative;
 
 
}

.container{
    margin:auto;
}

#showcase{
    
    border: 1.5px solid #E34E23;
    margin: 180px auto;
    width: 50%;
    text-align: center;  padding: 15px 30px; 
    color: #0009; 
    border-radius: 5px;
 
}
.social{
    color:#000000;
    width: 100%;
    border-radius: 4px;
    font-size: 2.4rem;
    padding: 0 30px;
    
}


i{
    padding: 0 10px;
}
a{
    color: #000000;
    text-decoration: none;
}
a:hover{
    color: #E34E23;
}

img{
    position: absolute;
    top: 100px;
    left: 500px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    
   
}
h1{
    padding-top: 50px ;
}
p{
    color:#000000;
    font-weight: bold;

}